* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.item-wrap {
    border: 1px solid red;
    color: #949494;
    font-size: 16px;
    padding-right: 10px;
    /*overflow: hidden;*/
}

.item-wrap li {
    height: 47px;
    width: 200px;
    line-height: 47px;
    padding-left: 20px;
    border-bottom: 1px solid #d5d5d5;
    background: #fff url('../images/arrow.png') right center no-repeat;
    /*float: left;*/
}

.l2 {
    float: left;
}

.l3 {
    clear: both;
}

.panel {
    position: absolute;
    background-color: red;
    right: 20px;
    top: 20px;
}