<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%t %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p]-%c[%L] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="o2o-test-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/export/o2o-test-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>/export/o2o-test-debug.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>30</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[[%thread] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p]-%c[%L] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--<appender name="mysql-test" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://192.168.99.100:3306/logtest</url>
            <user>root</user>
            <password>creepy</password>
        </connectionSource>
    </appender>-->

    <logger name="java.sql" additivity="false" level="debug">
        <appender-ref ref="o2o-test-debug"/>
    </logger>

    <root level="info">
        <appender-ref ref="o2o-test-debug"/>
        <appender-ref ref="mysql-test"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>