<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="test" class="com.test.spring.MainTest" init-method="init" scope="prototype">
        <property name="username" value="zhaogang"/>
        <property name="mail" value="zg3407@gmail.com"/>
    </bean>

</beans>