<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-driven/>

    <!--<aop:config proxy-target-class="true"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <bean id="test" name="test1" class="com.test.spring.MainTest" init-method="init" scope="prototype">
        <property name="username" value="zhaogang"/>
        <property name="mail" value="zg3407@gmail.com"/>

    </bean>

    <!--<bean id="a" class="com.test.spring.ClassA" scope="prototype" lazy-init="true">
        <property name="classB">
            <ref local="b"/>
        </property>
    </bean>

    <bean id="b" class="com.test.spring.ClassB" scope="prototype" depends-on="c">
        <property name="classC">
            <ref local="c"/>
        </property>
    </bean>

    <bean id="c" class="com.test.spring.ClassC" scope="prototype">
        <property name="classA">
            <ref local="a"/>
        </property>
    </bean>-->

</beans>